---
export interface Props {
	title: string
	body: string
	href: string
}

const { href, title, description, image } = Astro.props
---

<div class="link-card">
	<div class="link-card-bg"></div>
	<a href={href}>
		<div class="relative flex max-h-72 items-center justify-center overflow-hidden">
			<img src={image} alt="" class="card-image max-w-full" />
		</div>
		<div class="card-text-wrapper">
			<p class="card-title">
				{title}
			</p>
			<p class="card-description">
				{description}
			</p>
		</div>
	</a>
</div>
<style>
	.link-card {
		position: relative;
		list-style: none;
		display: flex;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		overflow: hidden;
	}

	.link-card-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background: rgba(255, 255, 255, 0.3);
		border-radius: 0.6rem;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}

	.card-text-wrapper {
		padding: 1rem;
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 0.35rem;
		opacity: 0.8;
	}
	.card-image {
	}
	.card-title {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.card-description {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	.link-card:is(:hover, :focus-within) {
	}
	.link-card:is(:hover, :focus-within) h2 {
	}
</style>
